<!-- <div class="caja">-->

    <!-- <h5>El mensaje recibido desde el hijo es: {{mensajeRecibido}}</h5> -->
    
    
    <!-- <p>Componente padre</p>
    <a href="" style="text-decoration: none;" >Contador: </a> -->
    <!--
    Las dobles llaves se utilizan para la interpolacion de datos, es la manera en la que se reciben datos
    desde el componente hacia el html
    -->
    <!-- <p>{{valorContador}}</p> -->
    <!--
    Los eventos son la manera de enviar datos desde el html hacia el componente
    se deben realizar los metodos o funciones en el componente para que funcionen
    -->
    <!-- <button (click)="incrementar()">Incrementar</button>
    <button (click)="decrementar()">Decrementar</button> -->
    <!--
    Esta es la forma de enviar un mensaje desde el componente padre al componente hijo
    -->

<!-- </div> -->


<!-- <app-hijo (mensajeDesdeHijo)="recibirMensaje($event)"></app-hijo> -->
<!-- <app-hijo [recibeHijo] = "mensajePadre"> </app-hijo> -->

<!--<app-hijo></app-hijo>-->
<!-- <h1>Fecha de hoy: {{fecha | date: 'short'}}</h1>
<h2>Dolar: {{dolar | currency}}</h2>
<h1 appEstiloHermanos style="color: #000;">{{nombre | miPipePersonalizado}}</h1>
<button type="button" (click)="saludar()" >Saludar</button>
<button type="button" (click)="preguntar()" >preguntar por hijo</button> -->